.section {
  margin-bottom: 5rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.line {
  margin-top: 0.6rem;
  flex: 0.1;
  border-top: 5px solid #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.section__content {
  margin: 0;
  padding: 0 0 0 1.4rem;
}

.section__title {
  margin-bottom: 1.3rem;
}

.section__title > h4 {
  font-family: "Samsung Sans";
}

.section__articles {
  width: 81rem;
  display: flex;
  flex: 30%;
  justify-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1342px) and (min-width: 978px) {
  .section__articles {
    display: grid;
    grid-template: auto / 24rem 24rem;
    row-gap: 60px;
    column-gap: 40px;
    width: 70%;
  }
}

@media screen and (max-width: 978px) {
  .section__articles {
    display: grid;
    grid-template: auto / 24rem;
    row-gap: 60px;
    width: 70%;
  }
}